/*variables*/
:root {
  --b-radius: 6px;
  --bg-color: linear-gradient(47deg,rgba(247, 74, 149, 1) 0%, rgba(119, 165, 229, 1) 53%);
}


/*normalize*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(41, 41, 142);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  outline-style: none; /*change if needed*/
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


#root, #__next {
  isolation: isolate;
}

/*containers*/
form,
.main-container,
form > * {
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 50%;
  height: 70%;
  border-radius: var(--b-radius);
  background: var(--bg-color);

  justify-content: space-around;
  align-items: center;
}

/*validation*/

.active-submit {
  border-color: #990000;
  background-color: #ffdddd;
}

input:focus:invalid {
  outline: none;
}

input {
  width: 100%;
}

span.error {
  width: 34ch;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #990000;
  border-radius: 0 0 5px 5px;

}

input::placeholder {
  color: darkgrey;
}



