/*variables*/
:root {
  --b-radius: 6px;
  --bg-color: linear-gradient(47deg,rgba(247, 74, 149, 1) 0%, rgba(119, 165, 229, 1) 53%);
}


/*normalize*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(41, 41, 142);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  outline-style: none; /*change if needed*/
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


#root, #__next {
  isolation: isolate;
}

/*containers*/
form,
.main-container,
form > * {
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 50%;
  height: 90%;
  border-radius: var(--b-radius);
  background: var(--bg-color);

  justify-content: space-around;
  align-items: center;
}

form {
  width: 70%;
  align-items: center;
  gap: 5px;
}

form > * {
  width: 70%;
}


/*validation*/

.active-submit {
  border-color: #990000;
  background-color: #ffdddd;
}

input {
  width: 100%;
  outline-style: none;
  border-style: none;
  border-radius: var(--b-radius);
}

span.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #990000;
  border-radius: 0 0 5px 5px;

}

input::placeholder {
  color: darkgrey;
}

.error.active {
  padding: 3px;
}

input:valid + span.error {
  padding: 0px;
}


.global-validation {
  position: absolute;
  font-size: 0.8rem;
  width: 25ch;
  height: fit-content;
  white-space: pre-wrap;
  right: 25%;
  top: 66%;
}

input:valid {
  border: 2px solid green;
}

input:disabled::placeholder {
  color: darkred;
}
